  <h2>about</h2>
<%= link_to 'top', pages_path %>
<%= link_to 'works', works_pages_path %>
<%= link_to 'contact', contact_pages_path %>

<ul>
  <li >About</li>
  <li >2022年10月よりPythonを独学で勉強</li>
  <li >2023年10月よりテックキャンプ入学（Ruby,Ruby on Rails勉強）</li>
  <li >2023年10月,Ruby,Ruby on Rails,MySQLを使用しメモアプリを作成</li>
  <li >2023年12月,HTML,CSSを使用しホームページ作成リリース</li>
</ul>
<div >
  <h2>名前:吉田将貴</h2>
  <h2>趣味：プログラミング、読書、旅行</h2>
  <h2>所在:埼玉市内</h2>
  <h2>スキル</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Ruby</li>
  </ul>
  <h2>連絡先</h2>
  <p>x303y0853@gmail.com</p>
</div >















 <!--　aboutの元
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  <!-- style.css ->
  <link rel="stylesheet" href="css/abouto.css">
  <!-- どこでも使う ->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Sans+JP&family=Whisper&display=swap" rel="stylesheet">
</head>  
<body>
  <header>
    <div class="contain flex">
      <a href="index.html" class="pop flex">
        Experience must be bought
      </a>
      <nav>
        <ul class="pop flex">
          <li><a href="About.html">About</a></li>
          <li><a href="works.html">Works</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- どこでも使う ->
  <ul>
    <li class="abouto">About</li>
    <li class="abouto">2022年10月よりPythonを独学で勉強</li>
    <li class="abouto">2023年10月よりテックキャンプ入学（Ruby,Ruby on Rails勉強）</li>
    <li class="abouto">2023年10月,Ruby,Ruby on Rails,MySQLを使用しメモアプリを作成</li>
    <li class="abouto">2023年12月,HTML,CSSを使用しホームページ作成リリース</li>
  </ul>
  <img src="images/プロフォール.png" alt="プロフィール写真" class="MASAKI">
  <div class="container">
    <h2>名前:吉田将貴</h2>
    <h2>趣味：プログラミング、読書、旅行</h2>
    <h2>所在:埼玉市内</h2>
    <h2>スキル</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Ruby</li>
      <!-- 他のスキルを追加 ->
    </ul>
    <h2>連絡先</h2>
    <p>x303y0853@gmail.com</p>
  </div>
  <main></main>
  <footer></footer>
</body>
</html>
 -->