<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>ホームページ</title>

  <!-- style.css -->
  <link rel="stylesheet" href="css/index.css">
  <!-- どこでも使う -->
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Noto+Sans+JP&family=Whisper&display=swap" rel="stylesheet">

</head>
  
<body>
  
  <header>
    <div class="contain flex">
      <a href="index.html" class="pop flex">
        Experience must be bought
      </a>
      <nav>
        <ul class="pop flex">
          <li><a href="About.html">About</a></li>
          <li><a href="works.html">Works</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!-- app/views/pages/index.html.erb -->

<%= link_to '投稿', new_page_path %>

<%= link_to 'sikenn', new_masaki_page_path %>


  </header>
  
  <main>
    <img src="images/main.png" alt="メイン画像" class="mainimg">

  </main>
  
  <footer></footer>
  
</body>

</html>
<main>
  

</main>

<footer></footer>

</body>

</html>